# Binaries and build outputs
/gorogoro_openai
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log

# Dependency/vendor dirs
/vendor/

# Coverage and profiling
*.cov
*.coverprofile
*.prof
*.pprof
coverage.out
.gocache/

# Editor cruft
.DS_Store
.vscode/
.idea/

# Custom file
data/*
